In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import pygeohash as pgh

%matplotlib inline

In [2]:
data = 'data/unit_data.csv'
df = pd.read_csv(data)
df.head()

,id,avg_price,avg_cpm,zip_code,zip_code_id,lat,lon,size,price,rate_card_price,floor_price,cpm,impressions,supplier_id,supplier_face_id
0,468328,850.0,12.58,4042,7217,41.437770,-75.654900,"10' 6"" x 22' 9""",850.0,1020.0,NaN,12.58,67568,39,290
1,107547,400.0,2.05,4012,15252,29.135220,-82.044840,10' x 40',400.0,480.0,NaN,2.05,195304,39,3849
2,316324,250.0,1.54,4006,39634,34.062725,-118.052900,6' x 12',250.0,300.0,NaN,1.54,162504,39,4484
3,2065349,460.0,0.28,4022,31588,30.219819,-93.358694,12' x 24',460.0,460.0,NaN,0.28,1626044,799,0308A S/F
4,430511,1500.0,3.75,4045,12375,34.007264,-81.015278,10' x 40',1500.0,1800.0,NaN,3.75,399972,39,71292

In [3]:
import re

heights = [] 
widths = []
for size_val in df['size']:
    height_match = re.search("^(.*?)'", size_val)
    if height_match:
        heights.append(height_match.group(1))
    else:
        heights.append(0)
    width_match = re.search("(?<=x ).*?(?=')", size_val)
    if width_match:
        widths.append(width_match.group(0))
    else:
        widths.append(0)
        
rounded_heights = []
for h in heights:
    if h == '3 units each 70"H x 48"W or 1 large unit 68':
        h = 70
    elif h == '2 (40':
        h = 40
    elif h == '123"h x 291"w 10':
        h = 123
    rounded_heights.append(5 * round(float(h) / 5))
    
rounded_widths = []
for w in widths:
    if w == '48"W or 1 large unit 68':
        w = 48
    elif w == '291"w 10':
        w = 291
    rounded_widths.append(5 * round(float(w) / 5))

df['height'] = heights
df['width'] = widths
df['rounded_height'] = rounded_heights
df['rounded_width'] = rounded_widths
df['normal_size'] = ['x'.join(map(str, l)) for l in list(zip(df.height, df.width))]
df['rounded_size'] = ['x'.join(map(str, l)) for l in list(zip(df.rounded_height, df.rounded_width))]
df['sqft'] = [l[0] * l[1] for l in list(zip(df.rounded_height, df.rounded_width))]
df['geo_hash'] = [pgh.encode(l[0], l[1], precision=4) for l in list(zip(df.lat, df.lon))]
df.head()

,id,avg_price,avg_cpm,zip_code,zip_code_id,lat,lon,size,price,rate_card_price,...,supplier_id,supplier_face_id,height,width,rounded_height,rounded_width,normal_size,rounded_size,sqft,geo_hash
0,468328,850.0,12.58,4042,7217,41.437770,-75.654900,"10' 6"" x 22' 9""",850.0,1020.0,...,39,290,10,22,10,20,10x22,10x20,200,dr65
1,107547,400.0,2.05,4012,15252,29.135220,-82.044840,10' x 40',400.0,480.0,...,39,3849,10,40,10,40,10x40,10x40,400,djjt
2,316324,250.0,1.54,4006,39634,34.062725,-118.052900,6' x 12',250.0,300.0,...,39,4484,6,12,5,10,6x12,5x10,50,9qh1
3,2065349,460.0,0.28,4022,31588,30.219819,-93.358694,12' x 24',460.0,460.0,...,799,0308A S/F,12,24,10,25,12x24,10x25,250,9vme
4,430511,1500.0,3.75,4045,12375,34.007264,-81.015278,10' x 40',1500.0,1800.0,...,39,71292,10,40,10,40,10x40,10x40,400,dnn3

In [4]:
counts = df['rounded_size'].value_counts()
df = df[df['rounded_size'].isin(counts[counts > 3].index)]
df['rounded_size'].value_counts().sort_values(ascending=False)

10x20     9365
15x50     4116
10x35     1786
5x10      1319
10x25     1154
10x30     1014
10x40      995
10x50      232
15x40      153
20x60      147
10x15      139
10x10       81
20x50       71
20x80       44
25x25       38
15x30       34
10x45       34
0x0         32
15x45       30
5x15        26
15x25       25
15x35       24
20x30       22
5x20        18
20x25       16
10x5        14
15x60       11
25x35       10
20x40       10
25x40        9
15x10        9
15x15        9
105x35       6
20x20        6
25x30        5
25x60        5
5x25         5
5x5          5
30x20        4
20x70        4
15x55        4
30x25        4
Name: rounded_size, dtype: int64

In [5]:
unit_df = df[['id', 'lat', 'lon', 'height', 'width', 'sqft', 'geo_hash', 'avg_price', 'price', 'avg_cpm', 'cpm', 'impressions']]
unit_df.set_index('id', inplace=True)
unit_df.head()

,lat,lon,height,width,sqft,geo_hash,avg_price,price,avg_cpm,cpm,impressions
id,,,,,,,,,,,
468328,41.437770,-75.654900,10,22,200,dr65,850.0,850.0,12.58,12.58,67568
107547,29.135220,-82.044840,10,40,400,djjt,400.0,400.0,2.05,2.05,195304
316324,34.062725,-118.052900,6,12,50,9qh1,250.0,250.0,1.54,1.54,162504
2065349,30.219819,-93.358694,12,24,250,9vme,460.0,460.0,0.28,0.28,1626044
430511,34.007264,-81.015278,10,40,400,dnn3,1500.0,1500.0,3.75,3.75,399972